<!-- padding: 18px 42px 17px 25px -->
<div class="span6" style="background-color: #34495e; margin-bottom: 10px; margin-left: 0px; margin-right: 10px;">
	<div style="overflow: hidden; padding: 18px 18px 10px 18px;">
		<div style="margin-left: -10px; margin-right: 10px; float: left;">
			<img style="height: 80px; width: 140px;" src="<%= article.image_url %>" />
		</div>
		<div style="">
			<h5 style="color: #ECF0F1; margin-top: -4px; text-transform: none;">
				<a style="color: #ECF0F1;" href="<%= article.url %>" target="_new"><%= article.title %></a>
			</h5>
			<span style="font-size: 16px; color: #6285a8; text-transform: capitalize;"><%= bookmark.comment %></span>
		</div>
	</div>
	<div style="overflow: hidden;padding-left: 8px;padding-right: 5px;padding-bottom: 5px;background-color: #2980B9;padding-top: 5px;">
		<div style="">
			<div style="color: #ECF0F1; float: left;margin-top: 5px;">
				<span style="color: #E74C3C;" class="fui-heart-16"></span>&nbsp;<%= article_stats.count_bookmark %>
				&nbsp;&nbsp;&nbsp;
				<span style="color: #F39C12;" class="fui-eye-16"></span>&nbsp;<%= article_stats.count_view %>
			</div>
			<div style="float: right;">
				<div style="float: left; color: #ECF0F1; margin-right: 5px; margin-top: 5px;">
					<a uid="<%= user.credential_id %>" href="#" style="color: white;" class="userlink"><%= user.firstname %></a>
				</div>
				<div style="float: right;">
					<a uid="<%= user.credential_id %>" href="#" style="color: white;" class="userlink"><img style="height: 25px; width: 25px;" src="<%= user.avatar_url %>" /></a>
				</div>
			</div>
		</div>
	<div>
</div>